{% extends "base.html" %}
{% block title %}Add Tag{% endblock %}
{% block content %}
<div class="card" style="width:50rem;">
  <div class="card-body">
    <h1 class="card-title display-4 text-primary text-center">Add Tag</h1>
    <form action="/tags/new" method="POST">
      <div class="form-group">
        <label for="tag">Tag Name</label>
        <input type="text" class="form-control" name="tag" placeholder="Enter tag name" required>
      </div>
      <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
      <a href="/tags" class="btn btn-outline-danger btn-block">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}