{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block content %}
<div class="card" style="width:40rem;">
  <div class="card-body">
    <h1 class="card-title display-4 text-primary text-center">{{post.title}}</h1>
    <p class="card-text">{{post.content}}</p>
    <footer class="blockquote-footer mb-3 font-weight-light">
      {{post.author.full_name}}
      <br>
      {{post.created_at.strftime("%I:%M %p | %A, %B %d %Y")}}
    </footer>
    {% for tag in post.tags %}
    <span class="badge badge-pill badge-primary">{{tag.name}}</span>
    {% endfor %}
    <a href="/posts/{{post.id}}/edit" class="btn btn-outline-primary btn-sm btn-block mt-2">Edit</a>
    <form action="/posts/{{post.id}}/delete" class="d-inline" method="POST">
      <input type="submit" class="btn btn-outline-danger btn-sm btn-block mt-2" value="Delete" />
    </form>
  </div>
</div>
<a href="/users/{{post.user_id}}" class="btn btn-outline-secondary btn-sm my-3">
  &#60;&#60; {{post.author.first_name}}'s Profile
</a>
{% endblock %}