{% extends "base.html" %}
{% block title %}User Details{% endblock %}
{% block content %}
<div class="card text-center" style="width:17rem;">
  <img src="{{user.image_url}}" class="card-img-top" alt="Profile Image">
  <div class="card-body">
    <h5 class="card-title">{{user.full_name}}</h5>
    <a href="/users/{{user.id}}/edit" class="btn btn-outline-primary btn-sm btn-block">Edit</a>
    <form action="/users/{{user.id}}/delete" class="d-inline" method="POST">
      <input type="submit" class="btn btn-outline-danger btn-sm btn-block mt-2" value="Delete" />
    </form>

    <!-- Connditionally Render Posts -->
    {% if user.posts %}
    <h5 class="card-title mt-3 font-weight-light">Recent Posts</h5>
    <div class="list-group text-center">
      {% for post in user.posts %}
      <a href="/posts/{{post.id}}" class="list-group-item list-group-item-action">
        "{{post.title}}"
        <footer class="blockquote-footer">{{post.created_at.strftime("%I:%M %p | %x")}}</footer>
      </a>
      {% endfor %}
    </div>
    {% else %}
    <p class="font-italic font-weight-light mt-3">{{user.first_name}} hasn't posted yet...</p>
    {% endif %}
    <a href="/users/{{user.id}}/posts/new" class="btn btn-outline-primary btn-sm mt-3 w-40 mx-auto">Add Post</a>
  </div>
</div>
<a href="/users" class="btn btn-outline-secondary btn-sm mt-3">&#60;&#60; All Users</a>
{% endblock %}